@model PassManager.Models.GroupModel
@using PassManager.Data
@inject MyContext myContext
@{
    ViewData["Title"] = "Delete";
    var grup = myContext.Groups.Find(Model.ID);
}

<h1 class="text-center">Delete @grup.groupName Group</h1>

<p class="mb-2">&#160;</p>
<div class="card" style="max-width: 1110; background-color: #ffffffbf;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="/Contents/Images/trashCan.png" class="card-img" alt="Trash can image">
        </div>
        <div class="col-md-8" style="align-self: center;">
            <div class="card-body">
                <h3 class="text-danger">Are you sure you want to delete this group?</h3>
                <h5 class="card-title">Group Name: @Model.groupName</h5>
                <p class="card-text">Group's password count: @myContext.Passwords.Where(x=>(x.GroupID==grup.ID) && x.isPassive==false).Count()
                </p>
                <p class="card-text">
                    <small class="text-muted">
                        Deleting your group is permanent and will remove all content including passwords and urls. Are
                        you sure you want to delete your group?
                    </small>
                </p>
                <p class="card-text" style="text-align: center;">
                    <small>
                        <form asp-action="Delete" style="text-align: center;">
                            <input type="hidden" asp-for="ID">
                            <a style="width: calc(35%);" class="btn btn-dark" asp-action="Index">Back  to list <i
                                    class="fas fa-home"></i></a>
                            <button style="width: calc(35%);" type="submit" class="btn btn-danger">Delete <i
                                    class="fas fa-trash"></i></button>
                        </form>
                    </small>
                </p>
            </div>
        </div>
    </div>
</div>