@model PassManager.Models.GroupModel
@using PassManager.Data
@inject MyContext myContext
@{
    ViewData["Title"] = "Edit";
    var grup = myContext.Groups.Find(Model.ID);
}

<h1 class="text-center">Edit @grup.groupName Group.</h1>
<hr />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="groupName" class="control-label"></label>
                <input asp-for="groupName" class="form-control" />
                <span asp-validation-for="groupName" class="text-danger"></span>
            </div>
            <div class="form-group postButtonDiv">
                <input type="submit" value="Save" class="btn btn-primary postButtonHalf" />
                <a asp-action="Index" asp-controller="Group" class="btn btn-dark postButtonHalf">Back to list</a>
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
