@model PassManager.Models.PassModel
@using PassManager.Data
@inject MyContext myContext
@{
    ViewData["Title"] = "Create";
    
}

<h1 class="text-center">Add Password in @myContext.Groups.Find(TempData["ID"]).groupName Group</h1>
<hr />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="passName" class="control-label"></label>
                <input asp-for="passName" class="form-control" />
                <span asp-validation-for="passName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pass" class="control-label"></label>
                <input asp-for="Pass" class="form-control" />
                <span asp-validation-for="Pass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="URL" class="control-label"></label>
                <input asp-for="URL" class="form-control" />
                <span asp-validation-for="URL" class="text-danger"></span>
            </div>
            <div class="form-group postButtonDiv">
                <input type="submit" value="Create" class="btn btn-primary postButtonHalf" />
                <a asp-action="Index" asp-controller="Group" class="btn btn-dark postButtonHalf">Back to list</a>
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
