@model PassManager.Models.PassModel
@using PassManager.Data
@inject MyContext myContext
@{
    ViewData["Title"] = "Delete";
    var pass = myContext.Passwords.Find(Model.ID);
}


<h1 class="text-center">Delete @pass.passName</h1>

<p class="mb-2">&#160;</p>
<div class="card" style="max-width: 1110; background-color: #ffffffbf;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="/Contents/Images/trashCan.png" class="card-img" alt="Trash can image">
        </div>
        <div class="col-md-8" style="align-self: center;">
            <div class="card-body">
                <h3 class="text-danger">Are you sure you want to delete this pass?</h3>
                <h5 class="card-title">Password Name: @Model.passName</h5>
                <p class="card-text">Password's Group: @myContext.Groups.Find(pass.GroupID).groupName
                </p>
                <p class="card-text">
                    <small class="text-muted">
                        Deleting your password is permanent and will remove all content. Are
                        you sure you want to delete your group?
                    </small>
                </p>
                <p class="card-text" style="text-align: center;">
                    <small>
                        <form asp-action="Delete" style="text-align: center;">
                            <input type="hidden" asp-for="ID">
                            <a style="width: calc(35%);" class="btn btn-dark" asp-controller="Group" asp-action="Index">Back  to list <i
                                    class="fas fa-home"></i></a>
                            <button style="width: calc(35%);" type="submit" class="btn btn-danger">Delete <i
                                    class="fas fa-trash"></i></button>
                        </form>
                    </small>
                </p>
            </div>
        </div>
    </div>
</div>